<% @spaces.each do |space| %>
  Space Name: <%= space.name %> <br>
  <%= space.description %><br>
  <strong>Price per Night:</strong> <%= space.price_per_night_formatted %><br>
  Available From: <%= space.available_from.strftime("%d-%m-%Y") %><br>
  Available To: <%= space.available_to.strftime("%d-%m-%Y") %><br>
  Listed by: <%= space.owner_name %> <br><br><br>
<% end %>

<form action = '/spaces' method = 'post'>
  <input type = 'submit' name= 'submit' value='order_by_price'>
  <input type = 'submit' name= 'submit' value='available_from'>
  <input type = 'submit' name= 'submit' value='available_to'>
  <input type = 'submit' name= 'submit' value='refresh'>
</form>