<% @spaces.each do |space| %>
<div style="margin: 2rem auto; min-width: 250px; background-color: #343a40; border: 1px solid white;"class="card space_card" style="width: 18rem;">
  <div class="card-body">
  <h5 class="card-title"> Space Name: <%= space.name %></h5>
  <p class="card-text"><%= space.description %></p>
  <p class="card-text"><strong>Price per Night:</strong> <%= space.price_per_night_formatted %></p>
  <p class="card-text">Available From: <%= space.available_from.strftime("%d-%m-%Y") %><p>
  <p class="card-text">Available To: <%= space.available_to.strftime("%d-%m-%Y") %><p>
  <p class="card-text">Listed by: <%= space.owner_name %> <p>

  <form action="/spaces/<%= space.id %>" method="get">
    <%if !(space.owner_name == @user.username)%>
     <input class='form-control' type="submit" name="Book Space" value="Book Space">
    <%end%>
  </form>
    </div>
  </div>
<% end %>

<div class="col-lg-5" style="margin: 0 auto;">
<form class='form-signin text-center' action = '/spaces' method = 'post'>
  <div class="form-group">
    <input class='form-control' type = 'submit' name= 'submit' value='Price: low to high'>
  </div>
  <div class="form-group">
  <input class='form-control' type = 'submit' name= 'submit' value='Price: high to low'> <br>
  </div>
  <div class="form-group">
  <strong>Checkin date:</strong> <input class="form-control date_selector" type="date" name="checkin_date" min="2020-01-01" max="2025-12-31">
  </div>
  <div class="form-group">
    <strong>Checkout date:</strong> <input class="form-control date_selector" type="date" name="checkout_date" min="2020-01-01" max="2025-12-31">
  </div>
  <div class="form-group">
    <input class='form-control' type="submit" name='submit'value="find dates">
  </div>
</form>
</div>
