
<h1 class="margin-top" >Request booking</h1>

<% if @date_invalid %>
    <div class="notice"><%= @date_invalid %></div>
<% end %>

<p>Name: <%= @space.name %></p>
<p>Hosted By: <%= @space.owner_name %></p>
<p>Price per night: <%= @space.price_per_night_formatted %></p>

Available From: <%= @space.available_from.strftime("%d-%m-%Y") %><br>
Available To: <%= @space.available_to.strftime("%d-%m-%Y") %><br>

<br>
<div class="center">
  <form action="/spaces/<%= @space.id %>" method="post">
  <input class="date_selector form-control" style="width: 50%;" type="date" name="booking_date" min="<%= @space.available_from %>" max="<%= @space.available_to %>">
    <input style="width: 50%; margin-top: 20px;" class="form-control"  type="submit" name="Request booking" value="Request booking">
  </form>
</div>